:root{
    --kuribg: #131418
}
body{
  background-color: var(--kuribg);
  margin: 0;
  font-family: 'Special Elite', cursive;
}
#shopname{
  color: white;
  position: absolute;
  margin-left: 2vw;
  background-color: var(--kuribg);
  padding-left: 10px;
  padding-right: 10px;
}
#play-card{
  position: relative;
}
.now-playing{
  color: white;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
#artist{
  margin-top: 3%;
}
#changeartist{
  text-align: center;
  position: relative;
  z-index: 2;
}
.artistbtn{
  margin-top: 4.2vw;
}
#starttext{
  text-align: center;
  color: white;
  margin-top: 18vw;
  font-size: 150%;
}
#planet-ring{
  position: relative;
  z-index: 1;
}
#ring{
  z-index: 3;
}
#planet{
  z-index: 1;
}
#orbit{
  z-index: 2;
}
.fullplanet{
  position: absolute;
  width: 60vw;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 23.5vw;
}

#comet{
  position: absolute;
  width: 10%;
}
#waves{
  width: 100vw;
  height: 17vw;
  position: absolute;
  margin-left: -.3%;
  bottom: 0;
}

.open {
  transform: translateX(-25%);
  transition-property: transform;
  transition-duration: 1s;
}
.close {
  transform: translateX(0%);
  transition-property: transform;
  transition-duration: 1s;
}