@import url(varibles.css);
:root{
    --kuribg: #14151a
}
#planet-ring{
  position: relative;
  margin-top: -1%;
  margin-left: 13%;
}
#planet{
  position: absolute;
  width: 70vw;
}
#ring{
  position: absolute;
  width: 70vw;
}