:root{
    --kuribg: #131418
}
body{
  background-color: var(--kuribg);
  margin: 0;
  font-family: 'Special Elite', cursive;
}
#shopname{
  color: white;
  position: absolute;
  margin-left: 2vw;
}
#play-card{
  position: relative;
}
.now-playing{
  color: white;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
#artist{
  margin-top: 3%;
}
#changeartist{
  text-align: center;
  position: relative;
  z-index: 2;
}
.artistbtn{
  margin-top: 4.2vw;
}
#planet-ring{
  position: relative;
  z-index: 1;
}
#ring{
  z-index: 2;
}
#planet{
  z-index: 0;
}
#orbit{
  z-index: 1;
}
.fullplanet{
  position: absolute;
  width: 60vw;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 18vw;
}

#comet{
  position: absolute;
  width: 10%;
}
#waves{
  width: 100%;
  height: 20%;
  position: absolute;
  margin-left: -.3%;
  bottom: 0;
}
